
* {
    font-family: 'Roboto', sans-serif;
}

a:link, a:visited, a:active {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #000;
}

.rbc-time-header .rbc-row:nth-child(2) {
    display: none;
}

.rbc-time-slot:hover::before {
    color: #999;
    content: 'Click and drag for new event';
}
